<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiuman.xingjiankang">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.xiuman.xinjiankang.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.xiuman.xinjiankang.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="com.xiuman.xinjiankang.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SwipeBack" />
        <activity
            android:name="com.xiuman.xinjiankang.activity.ScientifitDetailActivity"
            android:label="知识详情"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SwipeBack" />

        <activity
            android:name="com.xiuman.xinjiankang.activity.LoginActivity"
            android:label="登录"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SwipeBack" />

    </application>

</manifest>
